/* main settings */

body{
  font-family: 'Francois One', sans-serif;
}

h1{
  font-family: 'Playfair Display', serif;
  font-size: 8rem;
}

h2{
  padding-bottom: 30px;
}

h3{
  font-size: 5rem;
  padding-bottom: 4rem;
}

p{
  margin-bottom: 0;
}

.section-background1{
  background-color: #fde2e2;
}

.section-background2{
  background-color: #fff0f5;
}

.center{
  text-align: center;
}

.container-fluid{
  padding: 5% 7%;
}

/* navbar */

.navbar{
  padding-top: 4;
  padding-bottom: 80;
}

#container-navbar{
  padding-top: 15px;
  padding-bottom: 15px;
}

#section-navbar{
  padding-top: 0;
}

/* title */

.main-img{
  width: 100%;
  height: auto;
}

/* feature */

.feature-icon{
  width: 80%;
  height: auto;
  padding-bottom: 50px;
}

.feature-div{
  padding: 100px;
}

/* comments */

.comment-icon{
  max-height: 3rem;
}

/* shop-items */

.shop-items-container{
  margin: auto;
}

.shop-items-btn{
  margin-bottom: 30px;
  margin-top: 30px;
  width: 50%;
  height: 10%;
  font-size: 200%;
  color: #de5d83;
  border-color: #de5d83;
}

.shop-items-btn:hover{
  background-color: #de5d83;
}

.shop-items-img{
  height: 600px;
  width: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

/* app-download */

.app-download-h2{
  padding-top: 6%;
  font-size: 350%;
}

.app-download-btn{
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 6%;
  width: 200px;
  height: 60px;
}

.app-download-icon{
  padding-right: 10px;
  max-height: 40px;
}

/* footer */

.footer{
  padding-top: 4%;
  padding-bottom: 4%;
}

.footer-icon{
  max-height: 25px;
  width:auto;
  margin: 2%;
}

.footer-copyright{
  padding-top: 70px;
  color: #989898;
}
